body {
    background: aliceblue;
}

#header{
    width: 100%;
    text-align:center;
    padding-bottom: 15px;
}

img{
    display:inline-block;
    height: 200px;
    margin: 0 auto;
}

.choice:hover {
    background-color: aliceblue;
    color: aquamarine;
    padding: 5px;
}

#game {
    font-weight: bolder;
}

#question {
    font-weight: 500;
}

#answers {
    font-weight: 300;
}

#gif {
    padding-top: 15px;
}

#skipped {
    padding-bottom: 15px;
}

#resetBtn {
    display: none;
}